.slogan-container  {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  overflow: auto;
}

.slogan-text {
  align-self: center;
  max-width: 30%;
}

.slogan-text h1 {
  margin-block-end: 10px;
  font-weight: 600;
}

.slogan-text h4 {
  margin-block-start: 0;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.75);
}

.slogan-image {
  max-width: 100%;
  height: auto;
  animation: loadImageWebPage 1.5s;
  transition: 0.5s ease;
  z-index: -1;
}

.pet-change {

}

@media (max-width: 750px) {
  .slogan-container {
    flex-direction: column-reverse;
    align-items: center;
    overflow: unset;
  }

  .slogan-text {
    max-width: 50%;
    text-align: center;
  }

  .slogan-image {
    width: 258;
    height: 154;
    animation: loadImageMobile 2s;
  }
}

@media (max-width: 425px) {
  .slogan-text {
    max-width: 80%;
    font-size: 0.8rem;
  }

  .slogan-image {
    max-width: 83%;
  }
}

@keyframes loadImageWebPage {
  from {
      opacity: 0;
      transform: translateX(40px);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes loadImageMobile {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes changePetImage {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}