body {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #f2f4f8;
}

.global {
  height: 100vh;
  width: 100%;
  transition: 0.5s ease;
}

.body-container {
  height: 100vh;
  width: 100%;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.global-modal {
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s ease;
}

@media (max-width: 750px) {
  .cards {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .global {
    height: 100%;
  }
}