.modal-container {
    position: absolute;
    display: flex;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 60%;
    width: 40%;
    min-width: 400px;
    background-color: white;
    border-radius: 25px;
    opacity: 0;
    transition: 0.5s ease;
}