.modal-container {
    position: absolute;
    display: flex;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 0;
    width: 0;
    background-color: white;
    border-radius: 25px;
    transition: 0.3s ease;
}