.header-container {
  display: flex;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  align-items: center;
  justify-content: center;
}

.profile-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;
  right: 0;
}

.profile {
  display: inline-block;
  border: 2px solid black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.profile img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.profile:not(:first-child) {
  opacity: .7;
}

.header-container span {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 7px;
}