.header-container {
  display: flex;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  align-items: center;
  justify-content: center;
}

.profile-container {
  position: absolute;
  display: flex;
  cursor: pointer;
  right: 25px;
  top: 20px;
}

.profile {
  border: 0.15em solid black;
  height: 29px;
  width: 29px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s ease;
  z-index: -1;
}

.profile:first-child {
  transform: translateX(10px);
}

.profile:not(:first-child) {
  z-index: -2;
  opacity: 0.6;
}

.profile img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.header-container span {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 7px;
}

.inactive-first {
  z-index: -2;
  transform: translateX(34px) !important;
  opacity: 0.6;
}

.active-second {
  z-index: -1;
  transform: translateX(-24px);
  opacity: 1 !important;
}